@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary-color: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color: #61dafb;
  --secondary-color-2: #ee9972;
  --secondary-color-3: #fbdabb;
  --secondary-color-4: #edefee;
  --secondary-color-5: #333333;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
} /* Reset link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove visited link color */
a:visited {
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cta-btn {
  background-color: var(--primary-color-2);
  color: var(--secondary-color-5);
  padding: 10px 20px;
  border-radius: 5px;
  height: 60px;
  border-color: transparent;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  width: 200px;
}
